:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --color-green: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-backround-color: #2e2f42;
  --title-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*==============HEADER============== */
.header .menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}
.address {
  color: var(--text-color);
  font-style: normal;
}
.header-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address:hover,
.address:focus {
  color: var(--pressed-state-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.header-logo .logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}
/*==============/HEADER============== */
/* ===============HERO=============== */
.hero {
  background-color: var(--dark-color);
}
.hero-title-top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  letter-spacing: 0.04em;
  color: var(--title-color);
  background: var(--primary-brand-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--pressed-state-color);
}
/* ===============/HERO=============== */
/* ===================DESCRIPTION=================== */
.description-title-hidden {
  background-color: var(--title-color);
}

.description-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ===================/DESCRIPTION=================== */
/* ===================OUR SKILLS=================== */
.title-skills {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-transform: capitalize;
}
/* ===================/OUR SKILLS=================== */

/* ===================OUR TEAM=================== */
.about {
  background-color: var(--light-color);
}
.about-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.about-list {
}
.about-item {
}
.list {
}
.about-title-top {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ===================/OUR TEAM=================== */

/*====================PORTFOLIO BUTTON====================*/
.menu-button {
  font-family: inherit;
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
}
.menu-button:hover,
.menu-button:focus {
  color: var(--title-color);
  background-color: var(--pressed-state-color);
}
/*====================/PORTFOLIO BUTTON====================*/

/*====================PORTFOLIO GALLERY====================*/

.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ================FOOTER ================ */
.footer {
  background-color: var(--dark-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.footer-logo .logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
